<h1>My Todo List</h1>

<div class=""alert alert-success *ngIf="message">{{message}}</div>

<div class="container">
<table class="table">

  <!-- specify caption style to stop it going below table
  <caption style="caption-side: top">TODO: </caption>
  -->
  <thead>
  <tr>
    <th>Description</th>
    <th> Target Date</th>
    <th>is Completed</th>
    <th>Update</th>
    <th>Delete</th>

  </tr>
  </thead>
  <tbody>
  <!-- *ngFor : as if there is a for loop around the entire <tr> section -->
    <tr *ngFor="let todo of todos">

      <td>{{todo.description}}</td>
      <!-- |date = a pipe, gives it more normal date format
      turn one value into another format-->
      <td>{{todo.targetDate | date }}</td>
      <td>{{todo.done}}</td>
      <td><button (click) = "updateTodo(todo.id)" class="btn btn-success">Update</button></td>
      <td><button (click) = "deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
    </tr>

  </tbody>

</table>

  <div class="row">
    <button (click) = "addTodo()" class="btn btn-success">Add</button>
  </div>
</div>
