<!DOCTYPE html>
<html>
<head>
</head>

<body>
<div class="top-bar">
</div>

<div class="wrapper">
  <!--  put top menu here-->
  <div class="sidebar">
    <span class="logo-span"><a href="" class="logo">TeachIT</a></span>
    <ul>
      <li>
        <a routerLink="/profile">
          <!--          <span class="icon"><i class="fas fa-user-shield"></i></span>-->
          <span class="item">MyAccount</span>
        </a>
      </li>
      <li>
        <a *ngIf="service.isUserTeacher();" routerLink="/todoList" class="todos">
          <span>Todos</span>
        </a>
      </li>
      <li>
        <a routerLink="/manageBooking"  class="bookings">
          <span> My Bookings</span>
        </a>
      </li>
      <li>
        <a *ngIf="service.isUserTeacher();" routerLink="/blogList" class="active">
          <span> My Blog Posts</span>
        </a>
      </li>
      <li>
        <a *ngIf="service.isUserTeacher();" routerLink="/schedule" class="schedule">
          <span> Manage Schedule</span>
        </a>
      </li>
      <li>
        <a  routerLink="/logout" class="logout">
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>







<div class="alert alert-success" *ngIf="message">{{message}}</div>

<div class="container">
  <h1>Todo Manager</h1>
<table class="table">

  <!-- specify caption style to stop it going below table
  <caption style="caption-side: top">TODO: </caption>
  -->
  <thead>
  <tr>
    <th>Description</th>
    <th> Target Date</th>
    <th>is Completed</th>
    <th>Update</th>
    <th>Delete</th>

  </tr>
  </thead>
  <tbody>
  <!-- *ngFor : as if there is a for loop around the entire <tr> section -->
    <tr *ngFor="let todo of todos">

      <td>{{todo.description}}</td>
      <!-- |date = a pipe, gives it more normal date format
      turn one value into another format-->
      <td>{{todo.targetDate | date }}</td>
      <td>{{todo.done}}</td>
      <td><button (click) = "updateTodo(todo.id)" class="btn btn-success">Update</button></td>
      <td><button (click) = "deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
    </tr>

  </tbody>

</table>

  <div class="row">
    <button (click) = "addTodo()" id="button" class="btn btn-success">Add</button>
  </div>
</div>



<!--&lt;!&ndash; The Modal &ndash;&gt;-->
<!--<div class="modal" id="myModal" [ngClass]="{'show': showModal}">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->

<!--      &lt;!&ndash; Modal Header &ndash;&gt;-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title">Modal Heading</h4>-->
<!--        <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--      </div>-->

<!--      &lt;!&ndash; Modal body &ndash;&gt;-->
<!--      <div class="modal-body">-->
<!--        Modal body..-->
<!--      </div>-->

<!--      &lt;!&ndash; Modal footer &ndash;&gt;-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; Button to Open the Modal &ndash;&gt;-->
<!--<button type="button" class="btn btn-primary"  (click)="showModal=true"data-toggle="modal" data-target="#myModal">-->
<!--  Open modal-->
<!--</button>-->

<!--<button (click)="openDialog()">Click to open dialog</button>-->

<!--<div class="bg-modal">-->
<!--<div class="modal-content">-->

<!--</div>-->
<!--</div>-->




</body>
</html>
