<html>
<head>
  <script src="https://kit.fontawesome.com/a767667934.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="top-bar">
</div>

<div class="wrapper">
  <!--  put top menu here-->
  <div class="sidebar">
    <span class="logo-span"><a href="" class="logo">TeachIT</a></span>
    <ul>
      <li>
        <a routerLink="/profile">
          <!--          <span class="icon"><i class="fas fa-user-shield"></i></span>-->
          <span class="item">MyAccount</span>
        </a>
      </li>
      <li>
        <a *ngIf="service.isUserTeacher();" routerLink="/todoList" class="todos">
          <span>Todos</span>
        </a>
      </li>
      <li>
        <a routerLink="/manageBooking"  class="bookings">
          <span> My Bookings</span>
        </a>
      </li>
      <li>
        <a *ngIf="service.isUserTeacher();" routerLink="/blogList" class="active">
          <span> My Blog Posts</span>
        </a>
      </li>
      <li>
        <a *ngIf="service.isUserTeacher();" routerLink="/schedule" class="schedule">
          <span> Manage Schedule</span>
        </a>
      </li>
      <li>
        <a  routerLink="/logout" class="logout">
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="back-to-user">
  <button id="back-to-user-btn">< Return</button>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <!--          <form (ngSubmit)="saveComment()" #commentForm="ngForm">-->
        <div class="col-md-8">
            <h1 class="blog-title">{{blog.title}}</h1>

<!--            <hr>-->
            <p class="blog-body" [innerHTML]="blog.description"></p>


        </div>
    </div>
  </div>
  <div class="container">
    <hr class="line-break">
    <div class="row">
<!--      <div class="col-md-1"></div>-->
      <h5>Comments</h5>
<!--      <div class="col-md-8">-->
      <div class="comment">
        <tr *ngFor="let comment of comments">
        <td class="comment.body">{{comment.body}} </td>
          <td class="comment-owner">~ {{comment.owner}}</td>


<!--          <div class="comment">-->
<!--          <p>{{comment.body}}                 by {{comment.owner}}</p>-->
<!--          </div>-->

        </tr>

  </div>
</div>
</div>

  <div class="comment-box">
    <form (ngSubmit)="saveComment(blog.id)" #commentForm="ngForm">
      <p>Leave a comment <i class="fa-regular fa-comment"></i></p>

      <input type="text" [(ngModel)]="comment.body" #body="ngModel" class="form-control" name="body" maxlength="30">
      <button type="btn btn-submit">Add comment</button>
    </form>


  </div>


</div>

</body>
</html>
