*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html{
  min-height:100vh;
  min-width: 100vw;
  background: #f2f2f2;
  margin:0;
  padding:0;
  overflow-y: scroll;
}
body{
  position:relative;
  height:100vh;
  width:100%;
  padding:0;
  /*background: #fafafa;*/
  background: #f2f2f2;
  overflow-y: scroll;
}
header{
  position:fixed;
  width:100%;
  top:0;
  padding:0;
  margin:0;
  background: white;
}

nav{
  z-index:500;
  background: white;
}
.content{
  position:absolute;
  top:65%;
  left:50%;
  transform: translate(-50%, -50%);
  margin:0 auto;
  height:100%;
  width:60%;
  background: #f2f2f2;
}
.first-section-blog{
  background:white;
  width:100%;
  height:fit-content;
  min-height: 400px;
  border-radius: 10px;

}
.blog-title{
  text-align: center;
  padding:30px;

}
.blog-body{
  margin:30px;
}
.second-section-comments {
  position: relative;
  background: white;
  border-radius: 20px;
  margin-top: 30px;
  width: 100%;
  height: fit-content;
  min-height: 200px;
}
.display-comments{
  margin:5px;

}
#comment-span{
  font-size: 14px;
  color: #b2afaf;
  /*float:right;*/
}
.comment{
  margin:10px;
}

.comment-input{
  /*position:absolute;*/
  margin-top: 50px;
  padding:10px;

}
#comment-btn{
  background: #8e44ad;
  color:white;
  border-style: none;
  border-radius: 30px;
  padding:5px;
}
#icon{
  font-size:9px;
}






















/**{*/

/*  list-style: none;*/
/*  text-decoration: none;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*  font-family: 'Open Sans', sans-serif;*/
/*}*/

/*html{*/
/*  min-height:100vh;*/
/*  background: #f3f5f7;*/
/*}*/
/*body{*/
/*  position:relative;*/
/*  background: #f3f5f7;*/
/*  height:100%;*/
/*}*/

/*.back-to-user{*/
/*  position:absolute;*/
/*  top:80px;*/
/*  left:255px;*/

/*}*/
/*#back-to-user-btn{*/
/*  font-size: 16px;*/
/*  padding:10px;*/
/*  border-radius: 10px;*/
/*}*/

/*.top-bar{*/
/*  background: rgb(5, 68, 104);*/
/*  !*width: 90%;*!*/
/*  height: 69px;*/
/*  line-height: 80%;*/
/*  !*width:108%;*!*/
/*  !*overflow: hidden;*!*/
/*  position: sticky;*/
/*  top:0;*/
/*  left:0;*/
/*}*/


/*.wrapper .sidebar{*/
/*  background: rgb(5, 68, 104);*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 225px;*/
/*  height: 100vh;*/
/*  padding: 20px 0;*/
/*  transition: all 0.5s ease;*/
/*}*/
/*.logo{*/
/*  display: block;*/
/*  padding: 10px 30px;*/
/*  color: rgb(241, 237, 237);*/
/*  font-size: 20px;*/
/*  font-weight: bold;*/
/*  position: relative;*/
/*}*/

/*.wrapper .sidebar ul li a{*/
/*  display: block;*/
/*  padding: 13px 30px;*/
/*  border-bottom: 1px solid #10558d;*/
/*  color: rgb(241, 237, 237);*/
/*  font-size: 16px;*/
/*  position: relative;*/
/*}*/
/*.wrapper .sidebar ul li a:hover,*/
/*.wrapper .sidebar ul li a.active{*/
/*  color: #0c7db1;*/

/*  background:white;*/
/*  border-right: 2px solid rgb(5, 68, 104);*/
/*}*/

/*.wrapper .sidebar ul li a:hover .icon,*/
/*.wrapper .sidebar ul li a.active .icon{*/
/*  color: #0c7db1;*/
/*}*/

/*.wrapper .sidebar ul li a:hover:before,*/
/*.wrapper .sidebar ul li a.active:before{*/
/*  display: block;*/
/*}*/



/*!*.row{*!*/
/*!*  margin-bottom: 100px;*!*/
/*!*}*!*/


/*.content{*/
/*  margin-top:100px;*/
/*  margin-left: 400px;*/
/*  width:700px;*/
/*  background-color: white;*/
/*  border-radius:10px;*/
/*  padding:30px;*/

/*}*/
/*.container{*/
/*  !*background: #f3f5f7;*!*/
/*  margin-left: 20px;*/
/*  padding:30px;*/

/*}*/
/*.line-break{*/
/*  padding-bottom:30px;*/
/*}*/
/*.blog-title{*/
/*  margin-bottom:20px;*/
/*  text-align: center;*/
/*}*/
/*.blog-body{*/
/*  margin-bottom: 50px;*/
/*}*/
/*h5{*/
/*  text-align: center;*/
/*}*/
/*.comment-box{*/
/*  !*margin-top:20px;*!*/
/*  margin-bottom: 20px;*/
/*  width:400px;*/
/*  margin-left: auto;*/
/*  margin-right:auto;*/

/*}*/
/*.comment p{*/
/*  text-align:center;*/
/*  !*box-shadow: 1px 1px 1px 1px #adadad;*!*/
/*  border-bottom: #dad8d8;*/
/*  border-bottom-style: solid;*/
/*  padding:10px;*/
/*  width:400px;*/
/*}*/
/*.comment.body{*/
/*  width:250px;*/
/*}*/
/*.comment-owner{*/
/*  width:250px;*/
/*  float:right;*/
/*  color:#adadad;*/
/*  font-size:12px;*/
/*  text-align: right;*/
/*}*/
/*button{*/
/*  border-radius:1px;*/
/*  background-color: #E9B629;*/
/*  color:white;*/
/*  border-style: none;*/
/*}*/
/*form{*/
/*  align-textS: center;*/
/*  margin-bottom: 20px;*/
/*}*/
