<html lang="en">
<head>
</head>

<body>


<div class="top-bar">
</div>

<div class="wrapper">
  <!--  put top menu here-->
  <div class="sidebar">
    <span class="logo-span"><a href="" class="logo">TeachIT</a></span>
    <ul>
      <li>
        <a routerLink="/profile">
          <!--          <span class="icon"><i class="fas fa-user-shield"></i></span>-->
          <span class="item">MyAccount</span>
        </a>
      </li>
      <li>
        <a *ngIf="regService.isUserTeacher();" routerLink="/todoList" class="todos">
          <span>Todos</span>
        </a>
      </li>
      <li>
        <a routerLink="/manageBooking"  class="active">
          <span> My Bookings</span>
        </a>
      </li>
      <li>
        <a *ngIf="regService.isUserTeacher();" routerLink="/blogList" class="blogs">
          <span> My Blog Posts</span>
        </a>
      </li>
      <li>
        <a *ngIf="regService.isUserTeacher();" routerLink="/schedule" class="schedule">
          <span> Manage Schedule</span>
        </a>
      </li>
      <li>
        <a  routerLink="/logout" class="logout">
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>


<div class="container">
  <h1>
    Here are your current bookings
  </h1>
  <table class="table">

    <thead>
    <tr>
      <th>Date</th>
      <th> Student email</th>
      <th>Cancel</th>

    </tr>
    </thead>
    <tbody>
    <!-- *ngFor : as if there is a for loop around the entire <tr> section -->
    <tr *ngFor="let appointment of appointments">

      <td>{{appointment.date | date}}</td>
      <!-- |date = a pipe, gives it more normal date format
      turn one value into another format-->

      <td>{{appointment.studentEmail}}</td>
    </tr>

    </tbody>
  </table>
</div>


</body>

</html>
