<html lang="en">
<head>
  <title>TeachIT</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav>
  <app-menu></app-menu>
</nav>

<div class="content">
  <div class="alert alert-success alert-dismissible fade show" id="success-alert" *ngIf="message">{{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="first-row">
    <div class="lessons-container">
      <div class="no-appointments" *ngIf="thereAreNoAppointments()">
        <p class="no-appointments-p">You currently have no classes booked</p>
        <p class="link-to-teachers" *ngIf="!regService.isUserTeacher()">
          Click the button below to browse teachers</p>
        <p class="link-to-teachers" *ngIf="regService.isUserTeacher()">
          <span class="material-icons" id="event-busy-icon">event_busy</span>
        </p>
        <p *ngIf="!regService.isUserTeacher()">
          <button class="btn btn-success" id="go-btn" (click)="goToTeachers()"> Go</button>
        </p>
      </div>
      <h3>Classes </h3>
      <table>
        <tr *ngFor="let appointment of appointments">
          <td>{{appointment.date | date}}</td>
          <td>{{appointment.time}}</td>
          <td *ngIf="regService.isUserTeacher()">{{appointment.studentEmail}}</td>
          <td *ngIf="regService.isUserStudent()">{{appointment.user.email}}</td>
          <td>
            <button id="cancel-btn" (click)="cancelAppointment(appointment.appId)" class="btn btn-warning">Cancel
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>
