<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>
<body>
<header></header>
  <nav>
    <app-menu></app-menu>
  </nav>

<div class="content">
  <div class="first-row">
    <div class="lessons-container">
      <table>
        <tr *ngFor="let appointment of appointments">
          <td>{{appointment.date | date}}</td>
          <td>{{appointment.time}}</td>
          <td *ngIf="regService.isUserTeacher()">{{appointment.studentEmail}}</td>
          <td *ngIf="!regService.isUserTeacher()">{{appointment.email}}</td>
          <td><button (click) = "cancelAppointment(appointment.appId)" class="btn btn-warning">Cancel</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>



<!--                 OLD VERSION                   -->
<!--<div class="top-bar">-->
<!--</div>-->

<!--<div class="wrapper">-->
<!--  &lt;!&ndash;  put top menu here&ndash;&gt;-->
<!--  <div class="sidebar">-->
<!--    <span class="logo-span"><a href="" class="logo">TeachIT</a></span>-->
<!--    <ul>-->
<!--      <li>-->
<!--        <a routerLink="/profile">-->
<!--          &lt;!&ndash;          <span class="icon"><i class="fas fa-user-shield"></i></span>&ndash;&gt;-->
<!--          <span class="item">MyAccount</span>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a *ngIf="regService.isUserTeacher();" routerLink="/todoList" class="todos">-->
<!--          <span>Todos</span>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a routerLink="/manageBooking"  class="active">-->
<!--          <span> My Bookings</span>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a *ngIf="regService.isUserTeacher();" routerLink="/blogList" class="blogs">-->
<!--          <span> My Blog Posts</span>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a *ngIf="regService.isUserTeacher();" routerLink="/schedule" class="schedule">-->
<!--          <span> Manage Schedule</span>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a  routerLink="/logout" class="logout">-->
<!--          <span>Logout</span>-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="container">-->
<!--  <h1>-->
<!--    Here are your current bookings-->
<!--  </h1>-->
<!--  <table class="table">-->

<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Date</th>-->
<!--      <th> Student email</th>-->
<!--      <th>Cancel</th>-->

<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    &lt;!&ndash; *ngFor : as if there is a for loop around the entire <tr> section &ndash;&gt;-->
<!--    <tr *ngFor="let appointment of appointments">-->

<!--      <td>{{appointment.date | date}}</td>-->
<!--      &lt;!&ndash; |date = a pipe, gives it more normal date format-->
<!--      turn one value into another format&ndash;&gt;-->

<!--      <td>{{appointment.studentEmail}}</td>-->
<!--    </tr>-->

<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->


