<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header>
  <app-menu></app-menu>
</header>

<div class="content">
  <div class="first-row">
    <div class="details">
      <div class="profile-image">
        <img src="/assets/user-icon.png" alt="user icon" id="image" style="width:52px; height:52px;">
      </div>
      <div class="profile-info">
        <p>{{user.username}}</p>
        <p> Speaks </p>
      </div>
      <div class="about-me">
        <h5> About Me </h5>
        <hr>
        <p id="about-me-"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
  <h3 class="section-heading"> Lessons </h3>
  <div class="second-section">
    <div class="lesson-type">
      <div class="lesson-name">
        <p>Conversation Practice</p>
      </div>
      <div class="booking-link">
        <a [routerLink]="['bookAppointment']">Book a Class</a>
      </div>

    </div>
  </div>
  <h3 class="section-heading"> Posts </h3>
  <ng-container *ngFor="let blog of blogs">
    <div class="third-section">
      <p id="blog-title">{{blog.title}}</p>
      <p id="blog-description">{{blog.description}}</p>
      <div class="blog-button">
        <a [routerLink]="['comment', blog.id]">See more</a>
      </div>
    </div>
  </ng-container>
</div>
</body>
</html>
