<!--TODO: Use router links to webpages instead of a href -->
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="" class="navbar-brand">TeachIT</a></div>

    <ul class="navbar-nav">
      <li><a routerLink="/home" class="nav-link">Home</a></li>
      <li><a routerLink="/publicProfileList" class="nav-link">Teachers</a></li>
      <!--only show todos if user is logged in -->
      <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn();" routerLink="/todoList" class="nav-link">Todos</a>
      </li>
      <li>
<!--      <div class ="search">-->
        <input type = text class ="search-box" placeholder="search here">
        <button class="search-btn">search</button>
<!--      </div>-->
      </li>
      <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn();" routerLink="/profile" class="nav-link">My
        Account</a></li>
      <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn();" routerLink="/blogList" class="nav-link">My
        Blog Posts</a></li>
    </ul>



    <!-- bootstrap feature to allow it appear in right hand corner-->
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn();" routerLink="/login" class="nav-link">Login</a>
      </li>
      <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn();" routerLink="/logout" class="nav-link">Logout</a>
      </li>
    </ul>

  </nav>

</header>





