<html>
<head>
</head>
<body>
<header></header>
<nav>
  <app-menu></app-menu>
</nav>
<div class="banner">
  <div class="banner-text"><p id="title">Find the right teacher for you</p>
    <p id="p-details">Looking to connect with a new or existing tutor? Browse our
      tutors to find the perfect teacher for you</p>
    <!-- binding event of search to onSearchTextEntered(). Emitted event data is passed in as parameter(searchValue parameter)   -->
    <app-search (searchTextChanged)="onSearchTextEntered($event)" class="search"></app-search>
  </div>
  <img src="assets/teacher-search.jpg" alt="teaching-image" style="height:200px; width:300px">
</div>
<div class="content">
  <ng-container *ngFor="let user of users">
    <!-- only show users that are teachers-->
    <div class="show-teachers" *ngIf="user.role == 'teacher'">
      <!-- if searchText is empty show all users. If not empty show users whose username contains what is entered in searchText -->
      <div class="profile-container" *ngIf="searchText === '' || user.username.toLowerCase().includes(searchText)">
        <div class="profile-card">
          <div class="first-row">
            <div class="profile-image">
              <img src="/assets/user-icon.png" alt="user icon" id="image" style="width:52px; height:52px;">
            </div>
            <div class="user-details">
              <p>{{user.username}}</p>
              <p>{{user.email}}</p>
            </div>
          </div>
          <div class="profile-buttons">
            <button (click)="goToPage(this.user.email)" id="go-to-page-btn"> View Page</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
</body>
</html>

