*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html{
  min-height:100vh;
}
.container h1{
  /*text-shadow: 2px 2px #adadad;*/
  color: black;
  font-family: "Copperplate Gothic Light";
}
body{
  /*background: #f5f6fa;*/
  background: white;
  height:100vh;
  margin:100px;
  padding:0;
}
.top-bar{
  background: rgb(5, 68, 104);
  width: 90%;
  height: 69px;
  line-height: 80%;
  width:108%;
  overflow: hidden;
  position: fixed;
  top:0;
  left:0;
}

.wrapper .sidebar{
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.logo{
  display: block;
  padding: 10px 30px;
  color: rgb(241, 237, 237);
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

/*.wrapper .sidebar ul li a .icon{*/
/*  color: #dee4ec;*/
/*  width: 30px;*/
/*  display: inline-block;*/
/*}*/
.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  color: #0c7db1;

  background:white;
  border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}
.container{
  text-align: center;
  margin-left: 300px;
  background: white;
  width:50%;
}
.table{
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  margin-top: 50px;
  background: white;
}
button{
  background: rgb(5, 68, 104);
}
button:hover{
  background: white;
  border-color: rgb(5, 68, 104) ;
  color: rgb(5, 68, 104);
  transition:.5s;
}
