*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html{
  min-height:100vh;
  min-width: 100vw;
  background: #f2f2f2;
  margin:0;
  padding:0;
  overflow-y: scroll;
}
body{
  position:relative;
  height:100vh;
  width:100%;
  padding:0;
  background: #f2f2f2;
  overflow-y: scroll;
}
header{
  position:fixed;
  width:100%;
  top:0;
  padding:0;
  margin:0;
  background: white;
}

nav{
  z-index: 500;
  background: white;
}
.content{
  position:absolute;
  top:65%;
  left:50%;
  transform: translate(-50%, -50%);
  margin:0 auto;
  height:100%;
  width:70%;
}
.blog-card{
  position:relative;
  background: white;
  margin:10px;
  margin-left: auto;
  margin-right: auto;
  min-height:200px;
  height:fit-content;
  border-radius: 5px;
  width:700px;
}
#title{
  text-align: center;
  margin:10px 10px 20px 10px;
}
#description{
  margin: 30px;
}
.buttons{
  position:absolute;
  bottom:0;
  left:35%;
  margin-bottom:10px;
  display: flex;
  width:100%;

}
#edit-btn{
  background: #8e44ad;
  color:white;
  border-style: none;
  padding:3px;
  margin:5px;
}
#delete-btn{
  background: #7AB614;
  color:white;
  border-style: none;
  padding:5px;
  margin:5px;
}
#comment-btn{
  background: #EBCF38;
  color:white;
  border-style: none;
  padding:5px;
  margin:5px;
}

