* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  min-height: 100vh;
  min-width: 100vw;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

body {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  padding: 0;
  background: #f2f2f2;
  overflow-y: scroll;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0;
  margin: 0;
  background: white;
}

nav {
  z-index: 500;
  background: white;
}

.add-blog {
  background: white;
  box-shadow: 0 2px 12px rgba(0, 40, 117, .06);
  height: 15%;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  top: 16%;
  left: 9%;
  text-align: center;
  justify-content: center;
}

.add-blog .add-content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-blog #add-button {
  background: #EBCF38;
  border-style: none;
  border-radius: 20px;
  color: white;
  padding: 5px;
  text-align: center;
}


.content {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  height: 100%;
  width: 70%;
}

.blog-card {
  position: relative;
  background: white;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  min-height: 200px;
  height: fit-content;
  border-radius: 5px;
  width: 60%;
  box-shadow: 0 2px 12px rgba(0, 40, 117, .06);
}

#title {
  text-align: center;
  margin: 10px 10px 20px 10px;
}

#description {
  margin: 30px;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 35%;
  margin-bottom: 10px;
  display: flex;
  width: 100%;

}

#edit-btn {
  background: #8e44ad;
  color: white;
  border-style: none;
  padding: 3px;
  margin: 5px;
}

#delete-btn {
  background: #8e44ad;
  color: white;
  border-style: none;
  padding: 5px;
  margin: 5px;
}

#comment-btn {
  background: #8e44ad;
  color: white;
  border-style: none;
  padding: 5px;
  margin: 5px;
}

button:hover {
  opacity: 0.7;
}
#blog-card-container{
  margin-bottom: 200px;
}
.footer{
  background: white;
  position:absolute;
  bottom:0;
  height:40px;
  margin-top:30px;
  width:100vw;
}
