<p>post list works</p>

<!--&lt;!&ndash;<div class=""alert alert-success *ngIf="message">{{message}}</div>&ndash;&gt;-->

<!--<div class="container">-->
<!--  <table class="table">-->

<!--    &lt;!&ndash; specify caption style to stop it going below table-->
<!--    <caption style="caption-side: top">TODO: </caption>-->
<!--    &ndash;&gt;-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Title</th>-->
<!--      <th> Body</th>-->
<!--      <th>is Completed</th>-->
<!--      <th>Update</th>-->
<!--      <th>Delete</th>-->

<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    &lt;!&ndash; *ngFor : as if there is a for loop around the entire <tr> section &ndash;&gt;-->
<!--    <tr *ngFor="let post of posts">-->

<!--      <td>{{post.title}}</td>-->
<!--      &lt;!&ndash; |date = a pipe, gives it more normal date format-->
<!--      turn one value into another format&ndash;&gt;-->
<!--      <td>{{post.body | date }}</td>-->

<!--      <td><button (click) = "updatePost(post.id)" class="btn btn-success">Update</button></td>-->
<!--      <td><button (click) = "deletePost(post.id)" class="btn btn-warning">Delete</button></td>-->
<!--    </tr>-->

<!--    </tbody>-->

<!--  </table>-->

<!--  <div class="row">-->
<!--    <button (click) = "addPost()" class="btn btn-success">Add</button>-->
<!--  </div>-->
<!--</div>-->
