<!DOCTYPE html>
<html>
<head>
  <title> TeachIT </title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav>
  <app-menu></app-menu>
</nav>
<div class="content">
  <div class="first-section">
    <div class="alert alert-danger" *ngIf="message">{{message}}</div>
    <form (ngSubmit)="getDate(user.email)" #dateForm="ngForm" id="date-form">
      <fieldset class="form-group">
        <label class="date-label">Please select a date</label>
        <!--use banana box so we can load the description
        specify the layout of date field-->
        <input type="date" #targetDate="ngModel" [(ngModel)]="this.date"
               class="form-control" name="targetDate" id="date-selector" required="required"
               [class.is-invalid]="targetDate.touched && targetDate.untouched">
      </fieldset>
      <button type="submit" class="date-btn" [disabled]="dateForm.form.invalid">Save</button>
    </form>
  </div>

  <div class="second-section" *ngIf="isDateFound()">
    <div class="get-times">
      <form (ngSubmit)="getAllTimesForDate(); displayTimes()">
        <p id="times-p">You selected: <span>{{this.date}}</span></p>
        <button type="submit" class="time-btn"> View times</button>
      </form>
    </div>
    <div id="get-times-list">
      <div class="form-section">
        <form (ngSubmit)="saveAppointment()" #timeForm="ngForm" class="times-form" id="time-form">
          <fieldset class="form-group">
            <ng-container *ngFor="let availableTimes of availableTimes">

              <p><label> <input type="radio" #targetTime="ngModel" name="targetTime" value="{{availableTimes.time}}"
                                [(ngModel)]="time" [class.is-invalid]="targetTime.touched && targetTime.untouched"
                                required>
                {{availableTimes.time}}</label></p>
            </ng-container>
            <button type="submit" class="app-times-btn" [disabled]="timeForm.form.invalid">Make appointment</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
