* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  min-height: 100vh;
  min-width: 100vw;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  overflow-y: scroll;

}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 0;
  background: #f2f2f2;
  overflow-y: scroll;

}

header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0;
  margin: 0;
  background: white;
}

nav {
  background: white;
  position: sticky;
  top: 0;
  z-index: 500;
}

.content {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  height: 100%;
  width: 70%;
  background: #f2f2f2;
}

.first-section {
  background: white;
  height: 200px;
  border-radius: 30px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 12px rgba(0, 40, 117, .06);
}

#date-form {
  padding: 30px;
  text-align: center;
}

.date-label {
  font-size: 18px;
  margin-bottom: 30px;
}

#date-selector {
  margin-bottom: 30px;
}

.date-btn {
  background: #8e44ad;
  color: white;
  border-style: none;
  border-radius: 30px;
  padding: 5px;
}

.second-section {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.get-times {
  background: white;
  border-radius: 30px;
  height: 70px;
  text-align: center;
  box-shadow: 0 2px 12px rgba(0, 40, 117, .06);
}

#times-p {
  margin: 5px;
  font-size: 16px;

}

#times-p span {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.time-btn {
  background: #8e44ad;
  color: white;
  border-style: none;
  border-radius: 30px;
  padding: 5px;
}

#get-times-list {
  display: none;
  margin-top: 20px;
  background: white;
  border-radius: 30px;
  min-height: 120px;
  height: fit-content;
  text-align: center;
  justify-content: center;
  box-shadow: 0 2px 12px rgba(0, 40, 117, .06);
}

.times-form {
  margin-top: 50px;
}

.form-section {
  margin: 50px;
}

.app-times-btn {
  background: #8e44ad;
  color: white;
  border-style: none;
  border-radius: 30px;
  padding: 5px;
}

