/**{*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*  font-family: 'Montserrat', sans-serif;*/
/*}*/
/*!*head{*!*/
/*!*  border-style: dashed;*!*/
/*!*}*!*/
/*body {*/
/*  min-height: 100vh;*/
/*  width: 100%;*/
/*  background-color: #fff;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/
*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html{
  min-height:100vh;
}


body{
  background: white;
  height:100vh;
  margin:100px;
  padding:0;
}
.top-bar{
  background: rgb(5, 68, 104);
  width: 90%;
  height: 69px;
  line-height: 80%;
  width:108%;
  overflow: hidden;
  position: fixed;
  top:0;
  left:0;
}

.wrapper .sidebar{
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.logo{
  display: block;
  padding: 10px 30px;

  color: rgb(241, 237, 237);
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

/*.wrapper .sidebar ul li a .icon{*/
/*  color: #dee4ec;*/
/*  width: 30px;*/
/*  display: inline-block;*/
/*}*/
.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  color: #0c7db1;

  background:white;
  border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}


/*    API - WORDNIK              */
:root {
  --box-shadow-color: #9c9c9c;
}

/*body {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  font-family: 'Segoe UI';*/
/*}*/

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section .searchForm h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 0px 0px;
  margin: 40px 0px 15px 0px;
  font-weight: 500;
}

section .searchForm input[type=search] {
  min-width: 400px;
  margin: 20px 10px;
  padding: 15px 20px;
  background-color: #ece7e7;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  outline: none;
  font-size: 22px;
  box-shadow: 2px 2px 8px var(--box-shadow-color);
  transition: box-shadow 0.5s;
}

section .searchForm input[type=search]:hover {
  box-shadow: 5px 5px 10px var(--box-shadow-color);
}

section .searchForm input[type=search]:focus {
  box-shadow: 5px 5px 10px var(--box-shadow-color);
}

section .searchForm input[type=button] {
  margin: 0px 20px;
  padding: 15px 40px;
  background-color: #f3b786;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: 10px 10px 15px #a8a8a8;
  transition: box-shadow 0.5s;
  outline: none;
}
#btn{
  margin: 0px 20px;
  padding: 15px 40px;
  background-color: #f3b786;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: 10px 10px 15px #a8a8a8;
  transition: box-shadow 0.5s;
  outline: none;
}

#btn:hover {
  box-shadow: 5px 5px 15px #aaa;
  background-color: #f1a566;
}


#refresh-btn{
  margin: 0px 0px;
  padding: 15px 40px;
  background-color: #f3b786;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: 10px 10px 15px #a8a8a8;
  transition: box-shadow 0.5s;
  outline: none;
}

#refresh-btn:hover {
  box-shadow: 5px 5px 15px #aaa;
  background-color: #f1a566;
}

section .searchResult {
  visibility: hidden;
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: 10px 400px;
}

section .searchResult div h1 {
  font-size: 35px;
}

section .searchResult div p {
  font-size: 28px;
}
