* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  min-height: 100vh;
  min-width: 100vw;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  overflow-y: scroll;

}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 0;
  background: #f2f2f2;
  overflow-y: scroll;

}

header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0;
  margin: 0;
  background: white;
}

nav {
  background: white;
  position: sticky;
  top: 0;
  z-index: 500;
}

.content {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  height: 100%;
  width: 70%;
  background: #f2f2f2;
}

.welcome {
  text-align: center;
}

.first-row {
  margin-top: 50px;
  display: flex;
}

.user-details {
  background: white;
  box-shadow: 0 2px 12px rgba(0, 40, 117, .06);
  width: 40%;
  height: 150px;
  border-radius: 5px;
  padding: 20px;
  margin: 4px;
  text-align: center;
}

.user-details #person {
  color: #EBCF38;
  font-size: 30px
}

.user-details #user-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.user-details #user-email {
  font-size: 14px;
  color: #adadad;
}

.upcoming-lessons {
  background: white;
  border-radius: 5px;
  width: 20%;
  padding: 20px;
  margin: 4px;
  border-radius: 5px;
}

.reminder {
  background: white;
  border-radius: 5px;
  width: 40%;
  padding: 20px 0 20px 20px;
  margin: 4px;
  border-radius: 5px;
}

#school-icon {
  color: #EBCF38;
  font-size: 30px;
}

#no-school-icon {
  color: #EBCF38;
  font-size: 30px;
}

.class-today {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.no-class-today {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.class-today-p {
  font-size: 16px;
}

.class-today-p-info a {
  font-size: 14px;
  color: #adadad;
  text-decoration: underline;
}

.class-today-p-info a:hover {
  color: #838282;
}

.class-today-p span {
}

.second-row {
  background: white;
  box-shadow: 0 2px 12px rgba(0, 40, 117, .06);
  border-radius: 5px;
  margin: 20px 2px 20px 4px;
  padding: 20px;
}

.second-row h5 {
  text-align: center;
  margin-bottom: 10px;
}

.second-row p {
  text-align: center;
}

.tools-heading {
  margin-top: 60px;
}

.third-row {
  display: flex;
  margin: 20px 2px 0px 4px;
}


.third-row .word-of-day {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 4px;
  padding-top: 40px;
  background-color: white;
  box-shadow: 0 2px 12px rgba(0, 40, 117, .06);
  height: 200px;
  width: 450px;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.word-of-day h3 {
  padding-top: 10px;
}

#wod {
  font-style: italic;
  padding-top: 10px;
  font-size: 20px;
}

.logo {
  display: block;
  padding: 10px 30px;

  color: rgb(241, 237, 237);
  font-size: 20px;
  font-weight: bold;
  position: relative;
}


/*    API - WORDNIK              */
:root {
  --box-shadow-color: #9c9c9c;
}
section {
  display: flex;
  margin: 30px 2px 0px 3px;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 12px rgba(0, 40, 117, .06);
  width: 557px;
  height: 400px;
  padding-bottom: 60px;
  justify-content: center;
  border-radius: 5px;
}

.right {
  float: right;
  margin-top: 15px;
}
searchForm-div{
  position: fixed;
}
section.searchForm{
  position:relative;
}
section .searchForm h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 0px 0px;
  margin: 150px 0px 30px 0px;
  font-weight: 350;
}

#searchBox {
  height: 40px;
  font-size: 18px;
}

section .searchForm input[type=search] {
  min-width: 300px;
  margin: 40px 10px;
  padding: 15px 20px;
  background-color: #ece7e7;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  outline: none;
  font-size: 22px;
  box-shadow: 2px 2px 8px var(--box-shadow-color);
  transition: box-shadow 0.5s;
}

section .searchForm input[type=search]:hover {
  box-shadow: 5px 5px 10px var(--box-shadow-color);
}

section .searchForm input[type=search]:focus {
  box-shadow: 5px 5px 10px var(--box-shadow-color);
}

section .searchForm input[type=button] {
  margin: 0px 20px;
  padding: 15px 40px;
  background-color: rgb(5, 68, 104);
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: 10px 10px 15px #a8a8a8;
  transition: box-shadow 0.5s;
  outline: none;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 40px;
  margin-right: auto;
}

#btn {
  margin: 0px 20px;
  padding: 10px 40px;
  background-color: #8e44ad;
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 50px;
  box-shadow: 7px 7px 7px #dad8d8;
  transition: box-shadow 0.5s;
  outline: none;
}

#btn:hover {
  box-shadow: 5px 5px 15px #aaa;
  background-color: #5d2275;
  /*background-color: #f1a566;*/
}

#refresh-btn {
  margin: 0px 0px;
  padding: 10px 40px;
  background-color: #8e44ad;
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 50px;
  box-shadow: 10px 10px 15px #a8a8a8;
  transition: box-shadow 0.5s;
  outline: none;
}

#refresh-btn:hover {
  box-shadow: 5px 5px 15px #aaa;
  background-color: #5d2275;
  /*rgb(4, 58, 88);*/
  /*background-color: #f1a566;*/
}

.fourth-row{
  visibility: hidden;
  background: white;
  margin-bottom:200px;
  display:flex;
  padding-bottom: 50px;
}

.fourth-row .blank-section {

  /*margin-bottom: 30px;*/
  /*margin-right: 4px;*/
  padding-top: 40px;
  background-color: white;
  height: 200px;
  width: 450px;
  color: black;
  visibility: hidden;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 12px rgba(0, 40, 117, .06);
  justify-content: center;
  border-radius: 5px;
}
.searchResult {
  visibility: hidden;
  margin: 0px 2px 0px 3px;
  /*display: flex;*/
  justify-content: left;
  flex-direction: column;
  /*margin: 10px 400px;*/
  max-height: fit-content;
  background:white;
  width: 557px;
  height: fit-content;
  box-shadow: 0 2px 12px rgba(0, 40, 117, .06);
  justify-content: center;
  border-radius: 5px;
}

section .searchResult div h1 {
  font-size: 35px;
}

section .searchResult div p {
  font-size: 28px;
}

.word-of-day h3 {
  padding-top: 10px;
}

#wod {
  font-style: italic;

  padding-top: 10px;
  font-size: 20px;
}

#book-icon {
  font-size: 30px;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

