<html>
<head>
  <meta charset="utf-8" name="viewport"
        content= "width=device-width, initial-scale=1.0">
</head>
<body ng-app>

<div class="top-bar">

</div>

<div class="wrapper">
  <!--  put top menu here-->
  <div class="sidebar">
    <span class="logo-span"><a href="" class="logo">TeachIT</a></span>
    <ul>
      <li>
        <a routerLink="/profile" class="active">
<!--          <span class="icon"><i class="fas fa-user-shield"></i></span>-->
          <span class="item">MyAccount</span>
        </a>
      </li>
      <li>
        <a *ngIf="regService.isUserTeacher();" routerLink="/todoList" class="todos">
          <span>Todos</span>
        </a>
      </li>
      <li>
        <a routerLink="/manageBooking" class="bookings">
         <span> My Bookings</span>
        </a>
      </li>
      <li>
        <a *ngIf="regService.isUserTeacher();" routerLink="/blogList" class="blogs">
         <span> My Blog Posts</span>
        </a>
      </li>
      <li>
        <a *ngIf="regService.isUserTeacher();" routerLink="/schedule" class="schedule">
         <span> Manage Schedule</span>
        </a>
      </li>
      <li>
        <a  routerLink="/logout" class="logout">
         <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--<header>-->
<!-- <app-menu></app-menu>-->
<!--</header>-->

<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;You can manage your todos <a routerLink="/todoList">here</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="container">-->
<!--  <h2> It's good to see you again! </h2>-->

<!--</div>-->


<!--<div class="container">-->
<!--  <h3>If you would like to add a post to your profile, please click here</h3>-->
<!--  &lt;!&ndash; eventbinding &ndash;&gt;-->
<!--  <button onclick="location.href='post'" class="btn btn-success">Add Post</button>-->
<!--</div>-->

<section>
  <form class="searchForm" (ngSubmit)=" wordSearch()" #date1Form="ngForm">
    <h1>Dictionary</h1>
    <input type="search" name="searchBox" id="searchBox">
<!--    <input type="button" name="submit" value="submit" onclick="wordSearch()">-->
    <button id="btn">Search</button>
<!--    <input type="reset" value="reset" onclick="reloadPage()">-->
<!--    <form class="reloadForm" (ngSubmit)=" reloadPage()" #date1Form="ngForm">-->
<!--&lt;!&ndash;      <button id="refresh-btn">Clear</button>&ndash;&gt;-->
<!--    </form>-->
    <button id="refresh-btn" (click)="reloadPage()">Clear</button>
  </form>
  <div class="searchResult" id="searchResult">
    <div>
      <h1>Word</h1>
      <p id="word"></p>
    </div>
    <div>
      <h1>Definition</h1>
      <p id="definition"></p>
    </div>
    <div>
      <h1>Example</h1>
      <p id="example"></p>
    </div>
    <div>
      <h1>How To Spell?</h1>
      <p id="spell"></p>
    </div>
  </div>
</section>

<div class="word-of-day">
  <h3>Word of the day</h3>
  <p id="wod"></p>
</div>

</body>
</html>
