<!--<body>-->
<!--&lt;!&ndash;only show if api loads user&ndash;&gt;-->

<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <div class="text-center">-->
<!--        <h1>Welcome Back! </h1>-->

<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-5">-->
<!--      <img src ="/assets/user-icon.png" alt="user icon" style="width:220px; height:140px;">-->
<!--    </div>-->
<!--    <div class="col-7">-->
<!--      <p>{{user.username}}</p>-->
<!--      <p>{{user.email}}</p>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="content">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-1"></div>-->
<!--        <div class="col-md-8">-->
<!--          <tr *ngFor="let blog of blogs">-->
<!--            <h1 class="blog-title">{{blog.title}}</h1>-->
<!--            <span>-->
<!--                  <p>by {{blog.email}}</p>-->
<!--              </span>-->
<!--            <hr>-->
<!--            <p [innerHTML]="blog.description"></p>-->
<!--            <hr>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->



<!--</body>-->







<meta charset="utf-8" name="viewport"
      content= "width=device-width, initial-scale=1.0">
<div class="container">
You can manage your todos <a routerLink="/todoList">here</a>
</div>

<div class="container">
  Click here to get a customized welcome message
  <!-- eventbinding -->
  <button (click)=getWelcomeMessage() class="btn btn-success">Get Welcome Message</button>
</div>

<div class="container">
  <h2> It's good to see you again! </h2>
  <!-- eventbinding -->
  <button (click)=getWelcomeMessage() class="btn btn-success">Get Welcome Message</button>
</div>

<div class="container" *ngIf="welcomeMessageFromService">
  <h2>Your customized message</h2>
  <!-- eventbinding -->
  {{welcomeMessageFromService}}
</div>

<div class="container">
  <h3>If you would like to add a post to your profile, please click here</h3>
  <!-- eventbinding -->
  <button onclick="location.href='post'" class="btn btn-success">Add Post</button>
</div>
