/**{*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*  font-family: 'Montserrat', sans-serif;*/
/*}*/
/*!*head{*!*/
/*!*  border-style: dashed;*!*/
/*!*}*!*/
/*body {*/
/*  min-height: 100vh;*/
/*  width: 100%;*/
/*  background-color: #fff;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/
*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html{
  min-height:100vh;
  min-width: 100vw;
  background: #f2f2f2;
  margin:0;
  padding:0;
  overflow-y: scroll;

}
 body{
   position:relative;
  height:100vh;
   width:100%;
  padding:0;
   /*background: #fafafa;*/
   background: #f2f2f2;
   overflow-y: scroll;

}

header{
  position:fixed;
  width:100%;
  top:0;
  padding:0;
  margin:0;
  background: white;
}

nav{
  /*background: #f2f2f2;*/
  background: white;
}
.content{
  position:absolute;
  top:65%;
  left:50%;
  transform: translate(-50%, -50%);
  margin:0 auto;
  height:100%;
  width:70%;
  /*padding:50px;*/
  /*flex: 1;*/
  /*display: flex;*/
  /*align-items: center;*/
  background: #f2f2f2;
}
.first-row{
  margin-top: 50px;
  display: flex;
}
.user-details{
  background: white;
  width:40%;
  height:150px;
  border-radius: 5px;
  padding:20px;
  margin:4px;
}
.upcoming-lessons{
  background: white;
  border-radius: 5px;
  width:20%;
  padding:20px;
  margin:4px;
  border-radius: 5px;
}
.reminder{
  background: white;
  border-radius: 5px;
  width:40%;
  padding:20px 0 20px 20px;
  margin:4px;
  border-radius: 5px;
}
.second-row{
  background: white;
  border-radius: 5px;
  /*width:100%;*/
  margin: 20px 2px 20px 4px;
  padding:20px;
}

.second-row h5{
  text-align: center;
  margin-bottom: 10px;
}
.second-row p{
  text-align: center;
}

.tools-heading{
  margin-top:60px;
}

.third-row{
  display:flex;
  /*width:100%;*/
  margin: 20px 2px 20px 4px;
}
section {
  display: flex;
  /*margin-left: 300px;*/
  /*margin:30px 0 30px 50px;*/
  margin: 30px 2px 20px 3px;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width:557px;
  height:400px;
  padding:0;
  justify-content: center;
  border-radius: 5px;
}

.third-row .word-of-day{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right:4px;
  padding-top:40px;

  /*float:right;*/
  /*border-radius: 20px;*/
  background-color:white;
  height: 200px;
  width:450px;
  color:black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.word-of-day h3{
  padding-top:10px;
}
#wod{
  font-style: italic;
  padding-top: 10px;
  font-size: 20px;
}
.welcome h1{
  color:black;

  text-align: center;
  width:100%;
}
.top-bar{
  background: rgb(5, 68, 104);
  width: 90%;
  height: 69px;
  line-height: 80%;
  width:108%;
  overflow: hidden;
  position: fixed;
  top:0;
  left:0;
}

.wrapper .sidebar{
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.logo{
  display: block;
  padding: 10px 30px;

  color: rgb(241, 237, 237);
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

/*.wrapper .sidebar ul li a .icon{*/
/*  color: #dee4ec;*/
/*  width: 30px;*/
/*  display: inline-block;*/
/*}*/
.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  color: #0c7db1;

  background:white;
  border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}


/*    API - WORDNIK              */
:root {
  --box-shadow-color: #9c9c9c;
}

/*body {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  font-family: 'Segoe UI';*/
/*}*/
.right{
  float:right;
  margin-top: 15px;

}



section .searchForm h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 0px 0px;
  margin: 150px 0px 30px 0px;
  font-weight: 350;
}

section .searchForm input[type=search] {

  min-width: 300px;
  margin: 40px 10px;
  padding: 15px 20px;
  background-color: #ece7e7;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  outline: none;
  font-size: 22px;
  box-shadow: 2px 2px 8px var(--box-shadow-color);
  transition: box-shadow 0.5s;
}

section .searchForm input[type=search]:hover {
  box-shadow: 5px 5px 10px var(--box-shadow-color);
}

section .searchForm input[type=search]:focus {
  box-shadow: 5px 5px 10px var(--box-shadow-color);
}

section .searchForm input[type=button] {
  margin: 0px 20px;
  padding: 15px 40px;
  background-color:  rgb(5, 68, 104);
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: 10px 10px 15px #a8a8a8;
  transition: box-shadow 0.5s;
  outline: none;
}
.buttons{
  dsisplay: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 2px;
}
#btn{
  margin: 0px 20px;
  padding: 15px 40px;
  background-color: #8e44ad;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: 7px 7px 7px #dad8d8;
  transition: box-shadow 0.5s;
  outline: none;
}

#btn:hover {
  box-shadow: 5px 5px 15px #aaa;
  background-color: rgb(1, 41, 65);
  /*background-color: #f1a566;*/
}


#refresh-btn{
  margin: 0px 0px;
  padding: 15px 40px;
  background-color:  #8e44ad;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  box-shadow: 10px 10px 15px #a8a8a8;
  transition: box-shadow 0.5s;
  outline: none;
}

#refresh-btn:hover {
  box-shadow: 5px 5px 15px #aaa;
  background-color: rgb(1, 41, 65);
    /*rgb(4, 58, 88);*/
  /*background-color: #f1a566;*/
}

section .searchResult {
  visibility: hidden;
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: 10px 400px;
}

section .searchResult div h1 {
  font-size: 35px;
}

section .searchResult div p {
  font-size: 28px;
}

/*.word-of-day{*/
/*  margin-top: 30px;*/
/*  margin-bottom: 30px;*/
/*  float:right;*/
/*  !*border-radius: 20px;*!*/
/*  background-color:white;*/
/*  box-shadow: 7px 7px 7px 7px #dad8d8;*/
/*  height: 100px;*/
/*  width:350px;*/
/*  color:black;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  flex-direction: column;*/
/*  !*width:100vw;*!*/
/*}*/
.word-of-day h3{
  padding-top:10px;
}
#wod{
  font-style: italic;

  padding-top: 10px;
  font-size: 20px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

