html {
  width: 500px;
}

.search-container {
  display: flex;
  margin: 0px 0 0 200px;
  background: white;
  width: 100px;
  height: 16px;
}

i {
  margin: 15px 10px;
}

input[type=text] {
  margin: 10px 10px;
  padding: 20px 20px;
  height: 16px;
  background-color: rgb(241, 237, 237);
  font-size: 16px;
  border: none;
  border-radius: 50px;
  outline: none;
  transition: box-shadow 0.5s;
}

#label {
  padding: 15px 20px;
  color: rgb(241, 237, 237);
}




