<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav>
  <app-menu></app-menu>
</nav>
<div class="content">
  <!--  only show when a field is edited-->
  <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Enter valid target date</div>
  <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">Enter at least 5 characters</div>
  <div class="container">

    <!--  only allow saveTOdo() if form is not invalid-->
    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
      <fieldset class="form-group">
        <label>Task</label>
        <!--use banana box so we can load the description -->
        <!--#description = ngModel = template reference -->
        <input type="text" [(ngModel)]="todo.description" #description="ngModel" class="form-control" name="description"
               required="required" minlength="5">
      </fieldset>

      <fieldset class="form-group">
        <label>Due Date</label>
        <!--use banana box so we can load the description
        specify the layout of date field-->
        <input type="date" #targetDate="ngModel"
               [ngModel]="todo.targetDate | date: 'yyyy-MM-dd'"
               (ngModelChange)="todo.targetDate = $event" class="form-control" name="targetDate" required="required">
      </fieldset>

      <button type="submit" class="btn btn-success">Save</button>

    </form>
  </div>
</div>
</body>
</html>
