<html>
<head>
<title> TeachIT </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>
<body>
<header>
  <app-menu></app-menu>
</header>
  <div class="content">

    <div class="hero-section">
      <img src="/assets/laptop-background.jpg" alt="image of laptop">
      <div class="hero-text">
        <h2> Making learning easy</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button>Sign Up</button>
      </div>

      <div class="info-section">
        <div class="info-one">
          <span class="material-icons" id="info-icon">school</span>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="info-two">
          <span class="material-icons">people</span>
          <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>

        <div class="info-three">
          <span class="material-icons">star</span>

          <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
    </div>

      <div class="image-section">
        <div class="image-section-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum dolor sit amet consectetur adipiscing elit duis.
          </p>
        </div>

        <div class="picture">
          <img src="assets/teacher-home-image.jpg" alt="teacher teaching">
        </div>

      </div>
<!--  <div class="left">-->
<!--   <p class="title">TeachIT</p>-->
<!--   <p class="msg"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil rerum itaque quisquam!-->
<!--  </div>-->

</div>
  </div>
</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<meta charset="UTF-8">-->
<!--<head>-->

<!--&lt;!&ndash;  <style>&ndash;&gt;-->
<!--&lt;!&ndash;     body{&ndash;&gt;-->
<!--&lt;!&ndash;      background-image: url("/assets/greenandwhite.jpg");&ndash;&gt;-->
<!--&lt;!&ndash;      background-repeat: no-repeat;&ndash;&gt;-->
<!--&lt;!&ndash;      background-attachment: fixed;&ndash;&gt;-->
<!--&lt;!&ndash;      background-size: 100% 100%;&ndash;&gt;-->
<!--&lt;!&ndash;       /*overflow-x: hidden;*/&ndash;&gt;-->

<!--&lt;!&ndash;    }&ndash;&gt;-->
<!--&lt;!&ndash;  </style>&ndash;&gt;-->
<!--  <title></title>-->
<!--</head>-->

<!--<body>-->
<!--<div class="container">-->
<!--&lt;!&ndash;  <header>&ndash;&gt;-->
<!--&lt;!&ndash;    <app-menu></app-menu>&ndash;&gt;-->

<!--&lt;!&ndash;  </header>&ndash;&gt;-->

<!--  <p class="title">TeachIT</p>-->
<!--  <p class="msg"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil rerum itaque quisquam!-->

<!--  </div>-->

<!--&lt;!&ndash;<section class="main">&ndash;&gt;-->
<!--&lt;!&ndash;  <section class="left">&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="title">TeachIT</p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="msg"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil rerum itaque quisquam!&ndash;&gt;-->
<!--&lt;!&ndash;      Natus repudiandae nesciunt tempora odio amet. Saepe?</p>&ndash;&gt;-->
<!--&lt;!&ndash;  </section>&ndash;&gt;-->
<!--&lt;!&ndash;    <section class="right">&ndash;&gt;-->
<!--&lt;!&ndash;      <p> On the right side</p>&ndash;&gt;-->
<!--&lt;!&ndash;    </section>&ndash;&gt;-->

<!--&lt;!&ndash;  </section>&ndash;&gt;-->
<!--&lt;!&ndash;  <app-footer></app-footer>&ndash;&gt;-->
<!--&lt;!&ndash;</section>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->


