
html {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  width:100vw;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

body {
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  width:100%;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  overflow-y: scroll;
}

header {
  width: 100%;
  margin-right: 70px;
  margin-left: 0px;
  padding: 0;
  background: white;
}
nav{
  z-index: 500;
}

.content {
  margin: 0px;
  padding: 0px;
  flex: 1;
  display: flex;
  align-items: center;
}

.hero-section {
  height: 500px;
  width: 100%;
}

.hero-section img {
  height: 600px;
  width: 100%;
}

.hero-section .hero-text {
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.hero-section .hero-text h2 {

}

.hero-section .hero-text p {
  font-style: italic;
  padding: 20px 0 20px 0;
}

.hero-section button {
  background: #8e44ad;
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border-style: none;
  color: white;

}

.info-section {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  margin: 20px;
  padding: 40px;
  width: 850px;
}

#info-icon {
  vertical-align: middle;
  horiz-align: center;
}

.info-one {
  margin: 20px;
}

.info-two {
  margin: 20px;
}

.info-three {
  margin: 20px;
}

.image-section {
  display: flex;
  position: absolute;
  top: 120%;
  width: 100%;

}

.image-section .picture {
  float: left;
  width: 50%;
  /*width:750px;*/
  height: 400px;
  margin: 0;
  padding: 0;
}

.image-section .picture img {
  height: 400px;
  width: 600px;
  float: right;
}

.image-section .image-section-text {
  float: left;
  width: 50%;
}

.image-section .image-section-text p {
  padding: 100px 50px 50px 50px;

}


.title {
  color: lightpink;
  font-size: 3.2em;
  width: 50%;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 48px;
}

.msg {
  color: #9fb5cc;
  font-size: 1.1em;
  letter-spacing: 0.7px;
  line-height: 32px;
  margin-bottom: 48px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/**{*/
/*  !*margin:0 auto;*!*/
/*  !*padding:0;*!*/
/*  !*overflow: auto;*!*/
/*  !*box-sizing:border-box;*!*/

/*  min-height:100vh;*/
/*  font-family: "Poppins", sans-serif;*/
/*}*/

/*html{*/
/*background-color: #ABEBC6;*/
/*  width:100vw;*/

/*}*/

/*!*html,body{*!*/
/*!*  !*width:100%;*!*!*/
/*!*  max-width: initial;*!*/
/*!*  height:100%;*!*/
/*!*  margin:0;*!*/
/*!*  padding:0;*!*/
/*!*  overflow-x: hidden;*!*/
/*!*}*!*/
/*body {*/
/*  !*max-width:none;*!*/
/*  background-color: #ABEBC6;*/
/*  !*width: 100vw;*!*/
/*  width: 100vw;*/

/*}*/


/**body{*!*/
/*  margin:0px;*/
/*  margin-left: 0px;*/
/*  padding: 0px;*/
/*  padding-left: 0px;*/
/*  !*margin-left: 0px;*!*/
/*  border-style: groove;*/
/*  position: fixed;*/
/*  !*min-width: fit-content;*!*/
/*    width: 100%;*/
/*  !*width:100%;*!*/

/*}*/

/*.container{*/
/*  !*float:left;*!*/
/*  margin:0px;*/
/*  !*margin-left:0px;*!*/
/*  padding:0px;*/
/*  !*padding-left: 0px;*!*/
/*  !*border-style: groove;*!*/
/*  !*position:absolute;*!*/
/*  !*background-color: #ABEBC6;*!*/
/*  !*min-width: 100vh;*!*/

/*}*/


/*html{*/
/*  !*min-height:100%;*!*/
/*  overflow-x: hidden;*/
/*  width:100%;*/


/*}*/
/*header{*/
/*  overflow: auto;*/
/*  max-width: 100%;*/
/*  margin-right: 70px;*/

/*}*/
/*!*.backgroundImage{*!*/
/*!*  max-width: 100%;*!*/
/*!*}*!*/
/*body{*/
/*  !*overflow-x: hidden;*!*/
/*  min-height:100vh;*/
/*  position: fixed;*/
/*  width: 100%;*/
/*  margin:0;*/
/*  padding:0;*/
/*  border-style: groove;*/
/*}*/
/*.container{*/
/*  float:left;*/
/*  position:absolute;*/
/*}*/

/*section{*/
/*  !* min-height vh to allow for background to go to bottom*!*/
/*  min-height:100vh;*/
/*  min-width: 100vh;*/
/*  overflow: auto;*/
/*  width:100%;*/
/*  border-style: groove;*/


/*}*/


/*.main{*/
/*  flex: 1;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  min-height:100vh;*/
/*  overflow: auto;*/
/*  overflow-x: hidden;*/
/*  min-width: 100%;*/
/*  border-style: dashed;*/
/*}*/
/*.left{*/
/*  max-width: 45%;*/
/*  padding: 40px 64px;*/
/*  !*float:left;*!*/
/*}*/


/*.right {*/
/*  padding: 40px 48px;*/
/*  !*float:right;*!*/
/*}*/

/*.title {*/
/*  color: lightpink;*/
/*  font-size: 3.2em;*/
/*  width: 50%;*/
/*  font-weight: bold;*/
/*  letter-spacing: 2px;*/
/*  margin-bottom: 48px;*/
/*}*/

/*.msg {*/
/*  color: #9fb5cc;*/
/*  font-size: 1.1em;*/
/*  letter-spacing: 0.7px;*/
/*  line-height: 32px;*/
/*  !*margin-bottom: 48px;*!*/
/*}*/


/*****     Responsiveness     *****/

/*@media (max-width:800px) {*/
/*  header,*/
/*  .left,*/
/*  .right {*/
/*    padding-left: 40px;*/
/*    padding-right: 40px;*/
/*  }*/
/*}*/

/*@media (max-width: 650px) {*/

/*  .main {*/
/*    flex-direction: column;*/
/*  }*/

/*  .left,*/
/*  .right {*/
/*    width: 100%;*/
/*    max-width: 100%;*/
/*    padding: 24px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*  }*/

/*  .left {*/
/*    font-size: 0.8em;*/
/*  }*/

/*  .left * {*/
/*    width: 95%;*/
/*    !*margin-bottom: 32px;*!*/
/*    text-align: center;*/
/*  }*/

/*}*/


