<html>
<head>
  <title> TeachIT </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
  <app-menu></app-menu>
</header>
<div class="content">

  <div class="hero-section">
    <img src="/assets/laptop-background.jpg" alt="image of laptop">
    <div class="hero-text">
      <h2> Making learning easy</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
      <button (click)="goToTeachers()">See more</button>
    </div>

    <div class="info-section">
      <div class="info-one">
        <span class="material-icons" id="info-icon">school</span>
        <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. </p>
      </div>
      <div class="info-two">
        <span class="material-icons">people</span>
        <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. </p>
      </div>

      <div class="info-three">
        <span class="material-icons">star</span>

        <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. </p>
      </div>
    </div>

    <div class="image-section">
      <div class="image-section-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ipsum dolor sit amet consectetur adipiscing elit duis.
        </p>
      </div>

      <div class="picture">
        <img src="assets/teacher-home-image.jpg" alt="teacher teaching">
      </div>

    </div>

  </div>
</div>
</body>
</html>
