<html>
<head>
  <title> TeachIT </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
  <app-menu></app-menu>
</header>
<div class="content">

  <div class="hero-section">
    <img src="/assets/laptop-background.jpg" alt="image of laptop">
    <div class="hero-text">
      <h2> Making Learning Easy</h2>
      <p>
      Learning has never been easier! We know that managing your online classes can be a cumbersome experience, so
        TeachIT makes it easy for you.
      </p>
      <button (click)="goToTeachers()" disabled>See more</button>
    </div>

    <div class="info-section">
      <div class="info-one">
        <span class="material-icons" id="info-icon">school</span>
        <p>TeachIT is an online learning management platform catering for
        students and teachers. To discover what we offer, sign up for a free
        account. </p>
      </div>
      <div class="info-two">
        <span class="material-icons">people</span>
        <p>Teachers from all over the world have chosen to manage
        their classes on TeachIT. Connect with an existing teacher, or
        find the perfect one for you! </p>
      </div>

      <div class="info-three">
        <span class="material-icons">star</span>

        <p>Tired of other learning platforms stringent policies?
        TeachIT completely leaves the rule making up ot the teachers
        and students. </p>
      </div>
    </div>

    <div class="image-section">
      <div class="image-section-text">
        <p>
          Learn a new language from the comfort of your own home!<br>
          All you need to connect with our teachers is a device with internet connection. Join
          millions of students around the world and make the most of what the internet has to offer,
          and acquire a new skill today!
        </p>
      </div>

      <div class="picture">
        <img src="assets/teacher-home-image.jpg" alt="teacher teaching">
      </div>

    </div>

  </div>
</div>
<footer class="footer">
  <app-footer></app-footer>
</footer>
</body>
</html>
